.title-lg {
  font: var(--title-lg);
  color: #E2E4E9;
}

.title-md {
  font: var(--title-md);
  color: #E2E4E9;
}

.title-sm {
  font: var(--title-sm);
  color: #E2E4E9;
}

.subtitle {
  font: var(--subtitle);
  color: #C0C4CE;
}

.text-md {
  font: var(--text-md);
  color: #C0C4CE;
}

.text-sm {
  font: var(--text-sm);
  color: #878EA1;
}

.grid {
  display: grid;
}
.grid-flow-col {
  grid-auto-flow: row;
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.gap20 {
  width: 680px;
  height: 20px;
}

.gap8 {
  width: 680px;
  height: 8px;
}

.gap {
  width: 420px;
  height: 8px;
}

.tag {
  display: flex;
  align-items: center;
  background: #292C34;
  border-radius: 999px;
  padding: 8px 16px;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.project-card {
  width: 330px;
  height: 280px;
  background: #292C34;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    padding-top: 8px;
    width: 306px;
    height: 156px;
    border-radius: 12px;
  }
}

.card {
  border: solid 1px gray;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  img {
    padding-left: 20px;
    padding-top: 20px;
    width: 48px;
    height: 48px;
  }
}

.social-button {
  width: 400px;
  height: 68px;
  background: #292C34;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.social-button img:first-of-type {
  margin-left: 20px;
  margin-right: 12px;
}

.social-button img:last-of-type {
  margin-right: 20px;
  margin-left: 12px;
}

.social-button p {
  flex-grow: 1;
}